
/*--jordan--*/
.header{background-color: #666666; padding: 15px 25px;}
.header h1{color:  #ff6600;}
.fav-21{text-align: right;vertical-align: middle;}
.fav-8{text-align: left;}
.fav{text-align: center;vertical-align: middle;}
.top-img{display: inline-block;vertical-align: middle;padding: 15px;}
.top{text-align: center;padding: 30px 15px;}
/*havel*/
.havel{text-align: center;padding-bottom: 15px;color:  #f2f2f2;}
.btn{color:  #ff6600;border: 1px solid #404040;border-radius: 45px;padding: 15px;background-color:#404040;text-align: center; }
.btn-alt{padding: 15px 0;}
.imaged{background-color: #666666;text-align: center;padding: 20px 0;}
.border{border-right: 1px solid #bfbfbf;}
.color{color:   #f2f2f2;}
.col{padding: 10px;}
.back{background-image: url(../assets/bg.jpg);background-repeat: no-repeat;background-size: 100%;width: 100%;height: 100%; opacity: 0.5; filter: alpha(opacity=50);}
.top-img {color: #fff; font-size: 20px;}